/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5e5e6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    /* overflow: hidden; */
    position: relative;
}

/* Screens */

.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active{
    display: block;
}

/* Start Screen */
#start-screen h1{
    color: #e86a33;
    margin-bottom: 20px;
    font-size: 2rem;
}

#start-screen p{
    color: #666;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.question-header{
    margin-bottom: 1rem;
}

#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    margin-bottom: 10px;
}

.left-info, .right-info {
    display: flex;
    align-items: center;
    gap: 6px;   /* spacing between items */
}

.left-info p,
.right-info p {
    margin: 0;
}

.option-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.ans-btn{
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
}

.ans-btn:hover{
    background-color: #eadbc8;
    border-color: #dac0ae;
}

.ans-btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}

.ans-btn.incorrect{
    background-color: #fff0f0;
    border-color: #ffbdbd;
    color: #dc3545;
}

.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress{
    height: 100%;
    background-color: #e86a33;
    width: 0%;
    transition: width 0.3s ease;
}


/* Result Screen */

#result-screen{
    color: #e86a33;
    margin-bottom: 30px;
}

#result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

#result-msg{
    font-size: 1rem;
    font-weight: 600;
    color: #e86a33;
}

button{
    background-color: #e86a33;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #d45b28;
}

/* Responsive desgin */

@media(max-width:500px){
    /* when we hit 500px or below, we implement the below styles */
    .screen{
        padding: 1rem;
    }
    #start-screen h1{
        font-size: 2rem;
    }
    #question-text{
        font-size: 1.3rem;
    }
    .ans-btn{
        padding: 12px;
    }
    button{
        padding: 12px 25px;
        font-size: 1rem;
    }
}
